<div class="card border-info m-3">
  <div class="card-header">
    <div class="group" *ngIf="!editView">
      <div class="title">{{ currentCity }}</div>
      <div class="icon" (click)="selectCity()">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-pencil-square"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
          />
          <path
            fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
          />
        </svg>
      </div>
    </div>
    <div class="group" *ngIf="editView">
      <div>
        <input
          type="text"
          name="City Name"
          placeholder="select a city"
          [value]="selectedCity"
          (keyup)="onChangeEvent($event)"
        />
        <div class="error" *ngIf="error">{{ errorMessage }}</div>
      </div>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-success"
          (click)="saveCity()"
          [disabled]="error"
        >
          Save
        </button>
        <button type="button" class="btn btn-danger ml-2" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div
    class="card-body"
    [ngClass]="{
        sunny: cityData.weather === 'sunny',
        cloudy: cityData.weather === 'cloudy',
        rainy: cityData.weather === 'rainy'
      }"
    *ngIf="cityDataFetched"
  >
    <h5 class="card-title">
      <div class="temperatureContainer">
        <img
          [src]="cityData.iconSrc"
          [alt]="cityData.iconAlt"
          class="weatherIcon"
        />
        <div class="temperature">{{ cityData.currentTemperature }}&#x2103;</div>
      </div>
      <div class="country">
        <div>
          Country: <span>{{ cityData.countryCode }}</span>
        </div>
      </div>
    </h5>
    <div class="card-text">
      <div class="desc">
        <div>Feels Like: {{ cityData.feelsLikeTemp }}&#x2103;</div>
        <span>, </span>
        <div class="capitalize">{{ cityData.WeatherDesc }}</div>
      </div>
      <div class="keypoints">
        <div>Min Temp: {{ cityData.minTemp }}&#x2103;</div>
        <div>Max Temp: {{ cityData.maxTemp }}&#x2103;</div>
        <div>Pressure: {{ cityData.pressure }}</div>
        <div>Wind Speed : {{ cityData.windSpeed }}</div>
        <div>Humidity: {{ cityData.humidity }}</div>
      </div>
    </div>
  </div>
  <div class=" card-body emptyContainer" *ngIf="!cityDataFetched">
      <div *ngIf="!offlineStatus">Please select a city</div>
      <div *ngIf="offlineStatus">Sorry, Not able to connect the server</div>
  </div>
</div>


<!-- [ngClass]="{
    sunny: cityData.weather === 'sunny',
    cloudy: cityData.weather === 'cloudy',
    rainy: cityData.weather === 'rainy'
  }" -->